---
import ThemeToggle from "../ThemeToggle.astro";
import { Image } from '@astrojs/image/components';

import logo from "../../assets/logo.webp"
---

<header id="main-header" class="group relative mb-14 flex items-center">
	<div class="flex sm:flex-col">
    <a href="/" class="inline-flex items-center sm:relative">
      <Image class="pb-2" src={logo} alt="logo" height={60} width={60} quality={100} />
      <span class="text-xl font-bold sm:text-4xl">SEYDALI MADE IT</span>
    </a>
	</div>
	<ThemeToggle />
</header>
