---
import PageLayout from "@/layouts/Base";
// import PostPreview from "@/components/blog/PostPreview";
import SocialList from "@/components/SocialList";
import { AppService } from "src/services/app.service";
import { marked } from "marked";

const api = new AppService()

const params = new URLSearchParams()
params.append('route', Astro.url.pathname)
params.append('md', 'true')
const md = await api.getPageByRoute(params)

const bio = marked.parse(md.body);
---

<PageLayout meta={{ title: "Home" }}>
	<section>
    <div
			class="prose-sm prose-cactus prose-headings:font-semibold prose-headings:before:absolute prose-headings:before:-ml-4 prose-headings:before:text-accent prose-headings:before:content-['#'] prose-th:before:content-none"
		>
      <article class="mb-4" set:html={bio} />
		</div>
		<SocialList />
	</section>
	<!-- <section aria-label="Blog post list" class="mt-16">
		<h2 class="title mb-4 text-xl">Posts</h2>
		<ul class="space-y-4 sm:space-y-2">
			{
				allPostsByDate.map((p) => (
					<li class="flex flex-col gap-x-2 sm:flex-row">
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
	</section> -->
</PageLayout>
